---
const { nombreVisitante, profesionVisitante, opinion, opinion2, imagenVisitante } =
  Astro.props;
---

<div class="p-5 bg-white border border-gray-200 rounded-lg shadow-md">
  <div class="inline-flex items-center space-x-2">
    <h2 class="text-lg font-extrabold">{nombreVisitante}</h2>
    <img
        class="object-contain w-14 md:w-20 h-auto rounded-lg"
        src={imagenVisitante}
        alt={nombreVisitante}
      />
  </div>
  <div>
    <span class="font-bold text-gray-500">{profesionVisitante}</span>
  </div>
  <div>
    <span class="font-light text-gray-500">{opinion}</span> <br>
    <span class="font-light text-gray-500">{opinion2}</span>
  </div>  
</div>
