---
const { title, text, text2, link, nameLink, icon, icon_name } = Astro.props;
---

<div class="mx-3 md:mx-0 p-7 bg-white border border-gray-200 rounded-lg shadow-md">
  <img class="w-10 m-auto" src={icon} alt={icon_name} />

  <h5 class="mb-2 text-2xl font-semibold tracking-tight">
    {title}
  </h5>

  <p class="mb-3 font-light text-gray-500">
    {text}
    <br />
    {text2}
  </p>
  <div>
    <a
      style="background-color: #2c8936;"
      href="https://www.esmeraldareservanatural.com/recorrido"
      class="m-1 py-1 px-3 rounded-2xl inline-flex items-center text-white bg-lime-500 shadow-md"
    >
      ¡Visítanos ahora! Haz un recorrido virtual aquí
      <svg
        class="w-5 h-5 ml-2"
        version="1.1"
        viewBox="0 0 512 512"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <style type="text/css">
          .st0 {
            fill: #fff;
          }
        </style>

        <path
          class="st0"
          d="m73.146 256 47.488-47.488c-26.231 0-47.488 21.265-47.488 47.488z"
        ></path>
        <path
          class="st0"
          d="m343.88 256 47.488-47.488c-26.224 0-47.488 21.265-47.488 47.488z"
        ></path>
        <path
          class="st0"
          d="m391.37 135.37h-270.73c-66.629 0-120.64 54.013-120.64 120.63s54.006 120.63 120.64 120.63c47.147 0 87.955-27.068 107.79-66.497v0.202c8.074-14.204 15.739-18.994 27.572-18.994s19.497 4.79 27.572 18.994v-0.217c19.83 39.436 60.639 66.512 107.79 66.512 66.627 0 120.63-54.013 120.63-120.63s-54.006-120.63-120.63-120.63zm-270.73 193.01c-39.979 0-72.379-32.4-72.379-72.379 0-39.971 32.4-72.371 72.379-72.371 39.971 0 72.379 32.4 72.379 72.371 0 39.979-32.408 72.379-72.379 72.379zm135.36-61.088c-9.718 0-17.591-7.874-17.591-17.591 0-9.718 7.874-17.591 17.591-17.591 9.718 0 17.591 7.873 17.591 17.591 1e-3 9.717-7.873 17.591-17.591 17.591zm135.37 61.088c-39.972 0-72.379-32.4-72.379-72.379 0-39.971 32.407-72.371 72.379-72.371 39.971 0 72.379 32.4 72.379 72.371 0 39.979-32.408 72.379-72.379 72.379z"
        ></path>
      </svg>
    </a>

    <a
      style="background-color: #2c8936;"
      href="/contactanos"
      class="m-1 py-1 px-3 rounded-2xl inline-flex items-center text-white shadow-md"
    >
      Completa el formulario para vincularte a la reserva
      <svg
        class="w-5 h-5 ml-2"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"
        ></path><path
          d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"
        ></path></svg
      >
    </a>
  </div>
</div>
